<div class="container text-center" style="margin-top: 100px">
  <div class="jumbotron">
    <h1>GatherCam</h1>
    <p class="lead">A place to send your wedding photos.</p>
    <a href="#" class="btn btn-primary btn-lg" style="margin-top: 100px">
      <span class="fa fa-dropbox"></span>
      Login with Dropbox
    </a>
  </div>
</div>
