<div class="container text-center" style="margin-top: 100px">
  <div class="jumbotron">
    <h1>GatherCam</h1>
    <p class="lead">Send all your wedding photos to one place</p>
    <a href="#" class="btn btn-primary btn-lg" style="margin-top: 100px">
      Login with Dropbox
    </a>
  </div>
</div>
