<div class="container text-center" style="margin-top: 100px">
  <div class="jumbotron">
    <h1>GatherCam</h1>
    <p class="lead">A place to send your wedding photos.</p>
    <%= link_to user_omniauth_authorize_path(:dropbox_oauth2), class: 'btn btn-primary btn-lg', style: 'margin-top: 50px' do %>
      <span class="fa fa-dropbox"></span>
      Login with Dropbox
    <% end %>
  </div>
</div>
